@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Pacifio';
    src: url(../fonts/Pacifico-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'LibreFranklin';
    src: url(../fonts/LibreFranklin-VariableFont_wght.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'PlayFairDisplay';
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
}

/* FONTS */

/* RESET */

html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* RESET */
.container{
    width: 1152px;
}
/* MAIN */

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1231px;
    margin: 0 auto;
    padding: 2.6rem 14.4rem;
    background: #FFFFFF;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.logo_pompeo {
    font-family: Pacifio;
    font-size: 3.3rem;
    line-height: 4rem;
    text-align: center;
    color: #000000;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 8.5rem;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link li{
    margin-right: 4rem;
    transition: all 0.5s ease;
}
.link a{
    font-family: Poppins;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #6C6C6C;
}
.link a:last-child{
    margin-right: 0px;
}
.links a:hover{
    color: #AC1313;
}
.header-Vline {
    height: 3.8rem;
    width: 0.2rem;
    background: #EBEBEB;
    margin: 0 1.8rem;
    
}
.header-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-cart a{
    font-family: LibreFranklin;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    color: #000000;
    margin-left: 0.571rem;
    transition: all 0.5s ease;
}




/* HEADER */

/* HERO */

.hero{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1231px;
    margin: 0 auto;
    background: url(../images/main-bg.png);
    background-position: center center;
    background-size: cover;
    padding: 19.1rem 14.4rem 21.5rem 14.4rem;
    z-index: -3;
}

.hero__textBlock{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 57.6rem;
}
.hero__textBlock h1{
    max-width: 42.2rem;
    font-family: Poppins;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.8rem;
    color: #000000;
}
.hero-andSymbl-pos{
    position: absolute;
    left: 42.2rem;
    top: 1.25rem;
}
.upTitle{
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #D77474;
}
.prg{
    font-family: LibreFranklin;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #6C6C6C;
}

.button{
    background: #AC1313;
    padding: 2rem 3.8rem;
    transition: all 0.5s ease;
}

.button_text{
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #FFFFFF;  
}
.andSymbl{
    font-family: PlayFairDisplay;
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;
    color: #AC1313;
    transition: all 1s ease;
}
.hero-button-pos{
    margin-top: 5.1rem;
}
.hero__image{
    position: absolute;
    left: 62.3rem;
    top: 12.7rem;
}
.button:hover + .andSymbl{
    transform: rotate(10deg) scale(1.1);
    top: 22rem;
    left: 22rem;
}
.button:hover{
    box-shadow: 0px 0px 49px -9px rgba(34, 60, 80, 0.39);
    transform: scale(1.03);
}

/* HERO */

/* CIRCLE */

.circle{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1172px;
    margin: 0 auto;
    padding: 12rem 14.4rem;
}

.circle__textBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.circle__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 40.5rem;
    padding-top: 4rem;
}

.Title{
    font-family: Poppins;
    font-weight: 700;
    font-size: 4.0rem;
    line-height: 5.0rem;
    text-align: center;
    color: #000000;
}

.circle-andSymbl-pos{
    position: relative;
    top: -3.3rem;
}

.vertSpan{
    font-family: Poppins;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DBDBDB;
    transform: rotate(-90deg);
}

.circle-vertSpan-pos{
    position: absolute;
    left: -1rem;
    top: 39rem;
}
.circle__items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1172px;
    margin-top: 4rem;
}
.circle__item{
    display: flex;
    flex-direction: column;
    padding: 3.6rem 5.5rem;
    background: #E4B366;
    border: 30px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.item_span{
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 3.8rem;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.orange-circle{
    background: #F05B10;
}
.red-circle{
    background: #A21010;
}

.circle__info{
    width: 1172px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
    padding: 0 1rem;
}
.infoBlock{
    max-width: 50.9rem;
}
.infoTitle{
    font-family: Poppins;
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 3.6rem;
    color: #000000;
    max-width: 32rem;
}
.info-prg{
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding-top: 2.4rem;
}

/* Featured Products */

.products{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1172px;
    margin: 0 auto;
    padding: 22.1rem 14.4rem 14.8rem 14.4rem;
}

.products-vertSpan-pos{
    position: absolute;
    right: -3.7rem;
    top: 50rem;
}

.products__itemBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.itemBlock__content{
    width: 1172px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 22rem;
}
.itemBlock__content:first-child{
    margin-top: 0;
}
.itemBlock__content:nth-child(even){
    flex-direction: row-reverse;
}
.itemBlock__graybox{
    width: 500px;
    height: 220px;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.itemBlock__text{
    width: 396px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-top{
    padding-left: 8.8rem;
}
.text-bot{
    padding-right: 27.3rem;
}
.itemBlock__title{
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
}
.details{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-top: 2rem;
    transition: all 0.5s ease;
}
.details:hover{
    color: #6C6C6C;
}
/* Featured Products */

/* COLLECTION */

.collection{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1172px;
    margin: 0 auto;
    padding: 12rem 14.4rem 12rem 14.4rem;
}
.collection-upTitle-margin{
    margin-bottom: 1.7rem;
}

.collection-vertSpan-pos{
    position: absolute;
    top: 80.8rem;
    left: -4.4rem;
}
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin: 6.3rem 0 4rem 0;
    
}
.gallery__item{
    position: relative;
    border-bottom: #EBEBEB 1px solid;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    
}
.item__img{
    position: relative;
    padding-bottom: 2rem;
    transition: all 0.5s ease;
}
.price{
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #000000;
}

.hiddenButton {
    display: none;
    position: absolute;
    top: 40%;
    left: 38%;
    transition: all 2s ease;
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem 4rem;
    border-radius: 5px;
    box-shadow: #000000 0px 2px 4px;
}

.gallery__item:hover > .item__img{
    filter: blur(4px);
    fill: #DBDBDB;
}
.gallery__item:hover > .hiddenButton{
    display:block;
    transform: scale(2);
}
.hiddenButton:hover{
    background: rgba(255, 255, 255, 1);
}

/* READY */
.ready{
    background: url(../images/IMAGEstart-shopping-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1231px;
    margin: 0 auto;
    padding: 12rem 17.4rem;
    display: flex;
}
.ready__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.ready-prg{
    margin-top: 1.3rem;
    max-width: 42rem;
}
.readyPrgSelected{
    color: #A21010;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.readyPrgSelected:hover{
    color: #15a4c1;
}
.ready-button-pos{
    margin-top: 3rem;
}
/* NEWS */
.news{
    position: relative;
    max-width: 1231px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12rem 14.4rem 16.2rem 14.4rem;
}
.news-vertSpan-pos{
    position: absolute;
    top: 31.5rem;
    right: -5.7rem;
    transition: all 0.5s ease;
}
.news__img{
    width: 80px;
    height: 80px;
}
.newsUpTitle{
    font-weight: 400;
    padding-top: 4rem;
}
.newsTitle{
    font-family: Poppins;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}
.newsTitle-pos{
    padding: 4rem 0 6.3rem 0;
}
.news-andSymbl-pos{
    position: relative;
    top: -0.8rem;
}
.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.news__form{
    display: flex;
    flex-direction: row;
}

.newsInput{
    width: 32rem;
    border: 1px solid #EBEBEB;
    padding-left: 4rem;
    outline: none;
    font-family: Lato;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #A1A1A1;
}

.newsButton{
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #000000;
    padding: 1.3rem 5rem;
    border: none;
    margin-left: 0.4rem;
    transition: all 0.5s ease;
}
.newsButton:hover{
    box-shadow: #8534FF 0 5px;
    transform: scale(0.97);
}
.newsButton:hover + .vertSpan{
    color: #A21010;
}

input[type="checkbox"]{
    display: none;
    
}
.newsCB-Label{
    font-family: Lato;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #A1A1A1;
    transition: all 0.5s ease;
}
.newsCB-Label-pos{
    margin-top: 4rem;
}
.newsCB-Label::before{
    content: "";
    display: inline-block;
    padding: 6.5px 6.5px;
    background: #6C6C6C;
    margin-right: 1rem;
    transition: all 0.5s ease;
}
input[type="checkbox"]:checked + label::before{
    background: #8534FF;
    transform: rotate(360deg);
}

.newsCB-Label:hover{
    color: #4d4d4d;
}

/* FOOTER */

.footer {
    background: rgba(219, 219, 219, 0.1);
    position: relative;
    max-width: 1231px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10.7rem 14.4rem 0rem 14.4rem;
}

.footer-prg {
    font-family: LibreFranklin;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    color: #6C6C6C;
    max-width: 34rem;
    padding-top: 2.3rem;
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1231px;
    padding: 6rem 1.5rem;
}
.contacts__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 18.8rem;
}
.contact__itemTitle{
    font-family: Poppins;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 1rem;
}
.footer__details{
    width: 1519px;
    padding-bottom: 3rem;
    background: rgba(219, 219, 219, 0.1);
    border-top: rgba(219, 219, 219, 0.5) 1px solid;
}
.footer__details__container{
    max-width: 47rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: LibreFranklin;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.2rem;
}
.footer__detailsLink{ 
    color: #000000;
    padding-top: 2.3rem;
}
.details-prg{
    color: #6C6C6C;
    padding-top: 2.3rem;
}