@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Pacifio';
    src: url(../fonts/Pacifico-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'LibreFranklin';
    src: url(../fonts/LibreFranklin-VariableFont_wght.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'PlayFairDisplay';
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
}

/* FONTS */

/* RESET */

html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* RESET */

/* MAIN */

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2.6rem 14.4rem;
    background: #FFFFFF;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.logo_pompeo {
    font-family: Pacifio;
    font-size: 3.3rem;
    line-height: 4rem;
    text-align: center;
    color: #000000;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 61.7rem; */
}
.link a{
    font-family: Poppins;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #6C6C6C;
    margin-right: 4rem;
    transition: all 0.5s ease;
}
.link a:last-child{
    margin-right: 0px;
}
.links a:hover{
    color: #AC1313;
}
.header-Vline {
    height: 3.8rem;
    width: 0.2rem;
    background: #EBEBEB;
    margin: 0 1.8rem;
    
}
.header-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-cart a{
    font-family: LibreFranklin;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    color: #000000;
    margin-left: 0.571rem;
    transition: all 0.5s ease;
}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .header{
    max-width: 1024px;
    align-items: center;
    padding: 2.6rem 10rem; 
    }
    .link{
        margin: 2rem 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .link a{
        margin-right: 2rem;
    }  
}
@media screen and (min-device-width : 480px) and (max-device-width : 768px){
    .header-Vline{
        display: none;
    }
    .header{
        max-width: 768px;
        flex-direction: column;
        align-items: center;
        padding: 1.6rem 2rem; 
    }
    .links{
        flex-direction: column;
    }
    .link{
        margin: 2rem 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .link a{
        font-size: 2rem;
        margin: 5px;
    }   
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px){
    .header-Vline{
        display: none;
    }
    .header{
        max-width: 480px;
        flex-direction: column;
        align-items: center;
        padding: 1.6rem 2rem; 
    }
    .links{
        flex-direction: column;
    }
    .link{
        margin: 2rem 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .link a{
        font-size: 2rem;
        margin: 5px;
    }   
}

/* HEADER */

